In [1]:
import numpy as np 
import pandas as pd 
import lightgbm as lgb
import xgboost as xgb

/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
from sklearn.linear_model import BayesianRidge
from sklearn.model_selection import KFold, RepeatedKFold
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from scipy import sparse
import warnings
import time
import sys
import os
import re
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
from sklearn.metrics import mean_squared_error
from sklearn.metrics import log_loss
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns',None)
pd.set_option('max_colwidth',100)

In [3]:
train = pd.read_csv('../data/jinnan_round1_train_20181227.csv', encoding = 'gb18030')
test  = pd.read_csv('../data/jinnan_round1_testA_20181227.csv', encoding = 'gb18030')

In [4]:
stats = []
for col in train.columns:
    stats.append((col, train[col].nunique(), train[col].isnull().sum() * 100 / train.shape[0], train[col].value_counts(normalize=True, dropna=False).values[0] * 100, train[col].dtype))
    
stats_df = pd.DataFrame(stats, columns=['Feature', 'Unique_values', 'Percentage of missing values', 'Percentage of values in the biggest category', 'type'])
stats_df.sort_values('Percentage of missing values', ascending=False)

,Feature,Unique_values,Percentage of missing values,Percentage of values in the biggest category,type
2,A2,1,96.991404,96.991404,float64
7,A7,75,89.326648,89.326648,object
8,A8,8,89.326648,89.326648,float64
39,B11,37,60.816619,60.816619,object
38,B10,180,17.478510,17.478510,object
3,A3,3,3.008596,95.702006,float64
29,B1,21,0.716332,53.796562,float64
23,A23,3,0.214900,99.641834,float64
21,A21,12,0.214900,89.828080,float64
30,B2,3,0.143266,98.424069,float64
26,A26,88,0.143266,18.982808,object
31,B3,2,0.143266,99.785100,float64
36,B8,25,0.071633,77.722063,float64
33,B5,60,0.071633,17.550143,object
24,A24,91,0.071633,18.481375,object
40,B12,4,0.071633,55.659026,float64
41,B13,3,0.071633,99.426934,float64
34,B6,36,0.000000,45.845272,int64
32,B4,178,0.000000,17.191977,object
35,B7,58,0.000000,18.839542,object
37,B9,178,0.000000,13.538682,object
28,A28,157,0.000000,17.406877,object
27,A27,13,0.000000,45.128940,int64
42,B14,21,0.000000,53.008596,int64
0,样本id,1396,0.000000,0.071633,object
22,A22,4,0.000000,87.106017,float64
25,A25,15,0.000000,38.825215,object
1,A1,3,0.000000,98.638968,int64
4,A4,4,0.000000,95.702006,int64
5,A5,67,0.000000,19.269341,object
6,A6,39,0.000000,35.315186,float64
9,A9,95,0.000000,18.051576,object
10,A10,4,0.000000,47.134670,int64
11,A11,94,0.000000,17.979943,object
12,A12,9,0.000000,48.997135,int64
13,A13,3,0.000000,99.856734,float64
14,A14,92,0.000000,17.979943,object
15,A15,10,0.000000,49.785100,float64
16,A16,94,0.000000,17.908309,object
17,A17,13,0.000000,49.283668,float64
18,A18,2,0.000000,99.928367,float64
19,A19,6,0.000000,64.899713,int64
20,A20,159,0.000000,17.120344,object
43,收率,73,0.000000,21.848138,float64

In [6]:
stats = []
for col in test.columns:
    stats.append((col, test[col].nunique(), test[col].isnull().sum() * 100 / test.shape[0], test[col].value_counts(normalize=True, dropna=False).values[0] * 100, test[col].dtype))
    
stats_df = pd.DataFrame(stats, columns=['Feature', 'Unique_values', 'Percentage of missing values', 'Percentage of values in the biggest category', 'type'])
stats_df.sort_values('Percentage of missing values', ascending=False)

,Feature,Unique_values,Percentage of missing values,Percentage of values in the biggest category,type
2,A2,1,98.000000,98.000000,float64
7,A7,15,88.000000,88.000000,object
8,A8,2,88.000000,88.000000,float64
39,B11,11,59.333333,59.333333,object
38,B10,50,14.666667,14.666667,object
3,A3,2,2.000000,97.333333,float64
25,A25,7,0.666667,42.000000,float64
27,A27,11,0.666667,47.333333,float64
20,A20,52,0.666667,20.000000,object
29,B1,13,0.666667,56.000000,float64
32,B4,51,0.000000,20.666667,object
26,A26,41,0.000000,21.333333,object
28,A28,49,0.000000,18.666667,object
30,B2,2,0.000000,98.000000,float64
31,B3,1,0.000000,100.000000,float64
0,样本id,150,0.000000,0.666667,object
33,B5,39,0.000000,20.666667,object
34,B6,17,0.000000,45.333333,int64
24,A24,37,0.000000,20.666667,object
36,B8,11,0.000000,79.333333,int64
37,B9,60,0.000000,12.000000,object
40,B12,4,0.000000,54.666667,int64
41,B13,1,0.000000,100.000000,float64
35,B7,35,0.000000,22.000000,object
21,A21,5,0.000000,90.000000,int64
23,A23,1,0.000000,100.000000,int64
22,A22,2,0.000000,87.333333,int64
4,A4,3,0.000000,97.333333,int64
5,A5,31,0.000000,20.666667,object
6,A6,23,0.000000,36.666667,int64
9,A9,40,0.000000,22.000000,object
10,A10,4,0.000000,46.666667,int64
11,A11,40,0.000000,22.000000,object
12,A12,7,0.000000,50.000000,float64
13,A13,1,0.000000,100.000000,float64
14,A14,40,0.000000,22.000000,object
15,A15,8,0.000000,44.666667,float64
16,A16,40,0.000000,22.000000,object
17,A17,8,0.000000,45.333333,float64
18,A18,1,0.000000,100.000000,float64
19,A19,5,0.000000,61.333333,int64
1,A1,2,0.000000,99.333333,int64
42,B14,8,0.000000,52.666667,int64

In [7]:
# 删除类别唯一的特征
for df in [train, test]:
    df.drop(['B3', 'B13', 'A13', 'A18', 'A23'], axis=1, inplace=True)

In [8]:
# 删除缺失率超过90%的列
good_cols = list(train.columns)
for col in train.columns:
    rate = train[col].value_counts(normalize=True, dropna=False).values[0]
    if rate > 0.9:
        good_cols.remove(col)

# 删除异常值
train = train[train['收率']>0.87]
        
train = train[good_cols]
good_cols.remove('收率')
test  = test[good_cols]

In [9]:
# 合并数据集
target = train['收率']
del train['收率']
data = pd.concat([train,test],axis=0,ignore_index=True)
data = data.fillna(-1)

In [10]:
def timeTranSecond(t):
    try:
        t,m,s=t.split(":")
    except:
        if t=='1900/1/9 7:00':
            return 7*3600/3600
        elif t=='1900/1/1 2:30':
            return (2*3600+30*60)/3600
        elif t==-1:
            return -1
        else:
            return 0
    
    try:
        tm = (int(t)*3600+int(m)*60+int(s))/3600
    except:
        return (30*60)/3600
    
    return tm

In [11]:
for f in ['A5','A7','A9','A11','A14','A16','A24','A26','B5','B7']:
    data[f] = data[f].apply(timeTranSecond)

In [12]:
def getDuration(se):
    try:
        sh,sm,eh,em=re.findall(r"\d+\.?\d*",se)
    except:
        if se == -1:
            return -1 
        
    try:
        if int(sh)>int(eh):
            tm = (int(eh)*3600+int(em)*60-int(sm)*60-int(sh)*3600)/3600 + 24
        else:
            tm = (int(eh)*3600+int(em)*60-int(sm)*60-int(sh)*3600)/3600
    except:
        if se=='19:-20:05':
            return 1
        elif se=='15:00-1600':
            return 1
    
    return tm

In [13]:
for f in ['A20','A28','B4','B9','B10','B11']:
    data[f] = data.apply(lambda df: getDuration(df[f]), axis=1)

In [15]:
data.shape

(1531, 33)

In [16]:
cate_columns = [f for f in data.columns if f != '样本id']

In [17]:
#label encoder
for f in cate_columns:
    data[f] = data[f].map(dict(zip(data[f].unique(), range(0, data[f].nunique()))))
train = data[:train.shape[0]]
test  = data[train.shape[0]:]

In [23]:
train['target'] = target
train['intTarget'] = pd.cut(train['target'], 5, labels=False)

In [25]:
train = pd.get_dummies(train, columns=['intTarget'])
li = ['intTarget_0.0','intTarget_1.0','intTarget_2.0','intTarget_3.0','intTarget_4.0']
mean_features = []

In [26]:
for f1 in cate_columns:
    for f2 in li:
        col_name = f1+"_"+"_mean"
        mean_features.append(col_name)
        order_label = train.groupby([f1])[f2].mean()
        for df in [train, test]:
            df[col_name] = df[f].map(order_label)

In [27]:
train.drop(li, axis=1, inplace=True)

In [32]:
train.columns

Index(['样本id', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A14', 'A15',
       'A16', 'A17', 'A19', 'A20', 'A21', 'A22', 'A24', 'A25', 'A26', 'A27',
       'A28', 'B1', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12',
       'B14', 'target', 'A5__mean', 'A6__mean', 'A7__mean', 'A8__mean',
       'A9__mean', 'A10__mean', 'A11__mean', 'A12__mean', 'A14__mean',
       'A15__mean', 'A16__mean', 'A17__mean', 'A19__mean', 'A20__mean',
       'A21__mean', 'A22__mean', 'A24__mean', 'A25__mean', 'A26__mean',
       'A27__mean', 'A28__mean', 'B1__mean', 'B4__mean', 'B5__mean',
       'B6__mean', 'B7__mean', 'B8__mean', 'B9__mean', 'B10__mean',
       'B11__mean', 'B12__mean', 'B14__mean'],
      dtype='object')